<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>header}}
    <title>Document</title>
</head>
<body>
    <div class="container">
        {{>navbar}}
        <div class="main">
             {{>humbuger}}
            <div class="aboutContainer">
                <h1>About Me</h1>
                <div class="aboutMe">
                     <p I am passionate about Web Development & designing. I am a skilled full stack developer with 3+ years experience.</p>
                     <p>I have rich experience in website design and building, Website Speed Optimization. I am a quick learner and a team worker that gets the job done.</p>
                     <p>I can easily capitalize on low hanging fruits and quickly maximize timely deliverables for real-time schemas. I love to talk with you about our uniqueness......</p>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit
                   </p>
                   <div class="row">
                       <div class="info">
                           Age: 20
                       </div>
                       <div class="info">
                           Email: hritikchouhan54@gmail.com
                       </div>
                       <div class="info">
                           State:  Uttrakhand/Roorkee
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
     {{>header}}
</body>
</html>