<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{header}}
    <title>Document</title>
</head>
<body>
    <div class="container"> 
      {{>navbar}} 
       <div class="main">
          {{>humbuger}}
           <div class="InfoTech">
               <div class="devInfo">
                   <div class="hello">Hello,Guys I am</div>
                   <div class="name">Hritik Chouhan</div>
                   <div class="about">MERN-Developer||Music</div>
                   <div class="aboutmore">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eius unde dolorum fugit deserunt.</div>
                   <div class="buttons">
                       <button>Download CV</button>
                       <button>Contact Me</button>
                   </div>
               </div>
               <div class="devImg"><img src="Images/devImg.png" alt="Hritik Chouhan"></div>
           </div>
        </div>
        </div>
        {{>header}}
</body>
</html>