<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>header}}
    <title>Document</title>
</head>
<body>
    <div class="container">
     {{>navbar}}

     <div class="main">
          {{>humbuger}}
         <h1 id="sHeading">My Skill</h1>
         <div class="skillContainer">
             <div class="lineUp">
                 <div class="left">
                 <div class="skillbox"> Html: <div class="totalRating"> <div class="skills hundered"></div></div></div>
                 <div class="skillbox"> Css: <div class="totalRating"> <div class="skills seven"></div></div></div>
                 <div class="skillbox"> JavaScript: <div class="totalRating"> <div class="skills five"></div></div></div>
                 <div class="skillbox"> NodeJs: <div class="totalRating"> <div class="skills three"></div></div></div>
                 </div>
                  <div class="right">
                 <div class="skillbox"> ReactJs: <div class="totalRating"> <div class="skills seven"></div></div></div>
                 <div class="skillbox"> MongoDB: <div class="totalRating"> <div class="skills hundered"></div></div></div>
                 <div class="skillbox"> C++: <div class="totalRating"> <div class="skills seven"></div></div></div>
                 <div class="skillbox"> Git: <div class="totalRating"> <div class="skills hundered"></div></div></div>
                 </div>
         </div>
         </div>
     </div>
    </div>
    {{>header}}
</body>
</html>